.list-group
  %a.list-group-item.list-group-item-action.active{:href => "#"} Navegación
  = link_to 'Boleta de garantía', :new_guarantee, class: 'list-group-item list-group-item-action'
  %a.list-group-item.list-group-item-action{:href => "#"} Vale vista
  %a.list-group-item.list-group-item-action{:href => "#"} Letra de cambio
  %a.list-group-item.list-group-item-action{:href => "#"} Certificado de prorroga
  %a.list-group-item.list-group-item-action{:href => "#"} Certificado de fianza
  %a.list-group-item.list-group-item-action{:href => "#"} Poliza de garantia
  %a.list-group-item.list-group-item-action{:href => "#"} Pagare
